.Navbutton{
    list-style: none;
    

}

button{
    font-family: "Holtwood  ";
}

.test{
    color: black;
}

@font-face {
    font-family:"Holtwood" ;
    src: url("../font/HoltwoodOneSC-Regular.ttf");
}